node_modules
*/node_modules

dist
*/dist

build
*/build

.env
.env.local
.env.development
.env.production

coverage
*/coverage

.DS_Store
.vscode
.idea

# Seed data (arquivos grandes)
api/src/database/seed/data/mortalidade-2020-2024.json
api/src/database/seed/data/sinasc-2020-2024.json